be/.gitignore

be/env/

be/__pycache__/auth.cpython-39.pyc
be/__pycache__/database.cpython-39.pyc
be/__pycache__/main.cpython-39.pyc
be/__pycache__/models.cpython-39.pyc
be/__pycache__/schemas.cpython-39.pyc
fe/.gitignore
fe/README.md
